In [1]:
from google.cloud import bigquery

project_id="students-group2"
client = bigquery.Client(project=project_id)


query = """
SELECT *
FROM `master-ai-cloud.MoviePlatform.ratings`
LIMIT 10
"""
df_ratings = client.query(query).to_dataframe()

In [2]:
df_ratings

    userId  movieId  rating   timestamp
0        1      204     0.5  1217895786
1        1      256     0.5  1217895764
2        1      277     0.5  1217895772
3        1      719     0.5  1217895799
4        1    45950     0.5  1217897813
..     ...      ...     ...         ...
95      58     2395     0.5  1248075281
96      59    62336     0.5  1439121629
97      60      173     0.5  1162940923
98      60     1125     0.5  1162942328
99      60    37733     0.5  1162942227

[100 rows x 4 columns]

In [1]:
from google.cloud import bigquery

project_id="students-group2"
client = bigquery.Client(project=project_id)

query_movies = """
SELECT *
FROM `master-ai-cloud.MoviePlatform.movies`
LIMIT 10
"""
df_movies = client.query(query_movies).to_dataframe()

In [2]:
df_movies

   movieId                                 title              genres
0   126929                  Li'l Quinquin (    )  (no genres listed)
1   135460                          Pablo (2012)  (no genres listed)
2   138863      The Big Broadcast of 1936 (1935)  (no genres listed)
3   141305           Round Trip to Heaven (1992)  (no genres listed)
4   141472           The 50 Year Argument (2014)  (no genres listed)
5   143709                       The Take (2009)  (no genres listed)
6   149532   Marco Polo: One Hundred Eyes (2015)  (no genres listed)
7        9                   Sudden Death (1995)              Action
8       71                      Fair Game (1995)              Action
9      204  Under Siege 2: Dark Territory (1995)              Action