In [3]:
from google.cloud import bigquery

project_id="students-group2"
client = bigquery.Client(project=project_id)

query = """
SELECT *
FROM `master-ai-cloud.MoviePlatform.ratings`
LIMIT 100
"""
df_ratings = client.query(query).to_dataframe()

In [4]:
df_ratings

    userId  movieId  rating   timestamp
0        1      204     0.5  1217895786
1        1      256     0.5  1217895764
2        1      277     0.5  1217895772
3        1      719     0.5  1217895799
4        1    45950     0.5  1217897813
..     ...      ...     ...         ...
95      58     2395     0.5  1248075281
96      59    62336     0.5  1439121629
97      60      173     0.5  1162940923
98      60     1125     0.5  1162942328
99      60    37733     0.5  1162942227

[100 rows x 4 columns]

In [6]:
# Lister toutes les tables dans le dataset master
dataset_id = "master-ai-cloud.MoviePlatform"
tables = list(client.list_tables(dataset_id))

for table in tables:
    print(table.table_id)

movies
ratings

In [9]:
from google.cloud import bigquery
project_id = "students-group2"
dataset_name = "fatma_aziz"

dataset_id = f"{project_id}.{dataset_name}"

dataset = bigquery.Dataset(dataset_id)

dataset.location = "US"
dataset = client.create_dataset(dataset, exists_ok=True)
print(f"Dataset créé : {dataset.dataset_id}")

Dataset créé : fatma_aziz

In [11]:
df_movies = client.query("""
SELECT *
FROM `master-ai-cloud.MoviePlatform.movies`
LIMIT 10000
""").to_dataframe()

In [12]:
df_movies

      movieId                             title                    genres
0      126929              Li'l Quinquin (    )        (no genres listed)
1      135460                      Pablo (2012)        (no genres listed)
2      138863  The Big Broadcast of 1936 (1935)        (no genres listed)
3      141305       Round Trip to Heaven (1992)        (no genres listed)
4      141472       The 50 Year Argument (2014)        (no genres listed)
...       ...                               ...                       ...
9995     2187               Stage Fright (1950)  Mystery|Romance|Thriller
9996     3044                 Dead Again (1991)  Mystery|Romance|Thriller
9997     4522                 Masquerade (1988)  Mystery|Romance|Thriller
9998   103867      Night Train To Lisbon (2013)  Mystery|Romance|Thriller
9999    45537         Tall in the Saddle (1944)   Mystery|Romance|Western

[10000 rows x 3 columns]

In [14]:
# TABLE 1 : ratings
table_id_ratings = "students-group2.fatma_aziz.ratings"

job = client.load_table_from_dataframe(df_ratings, table_id_ratings)
job.result()

print("Table ratings copiée avec succès !")


# TABLE 2 : movies  (⚠️ nouveau nom)
table_id_movies = "students-group2.fatma_aziz.movies"

job = client.load_table_from_dataframe(df_movies, table_id_movies)
job.result()

print("Table movies copiée avec succès !")

Table ratings copiée avec succès !
Table movies copiée avec succès !

In [15]:
client.list_tables("students-group2.fatma_aziz")

In [16]:
df = client.query("SELECT COUNT(*) FROM `students-group2.fatma_aziz.ratings`").to_dataframe()
df

   f0_
0  200

In [17]:
df_1 = client.query("SELECT COUNT(*) FROM `students-group2.fatma_aziz.movies`").to_dataframe()
df_1

     f0_
0  10000